.version.index /* version checker */
{
	color: #0000F4;
	background-color: #4B88E0;
}

#page
{
	z-index: 1;
	width: 1133px;
	min-height: 398px;
	background-image: none;
	border-width: 0px;
	border-color: #000000;
	background-color: transparent;
	margin-left: auto;
	margin-right: auto;
	padding: 40px 18px 62px 19px;
}

#menuu133
{
	z-index: 2;
	width: 446px;
	margin-left: 685px;
	position: relative;
}

#u141
{
	width: 147px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
}

#u142
{
	width: 147px;
	padding-bottom: 17px;
	position: relative;
}

#u142:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u142:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u143-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u142:hover #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u142:active #u143-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u134
{
	width: 147px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 149px;
}

#u135
{
	width: 147px;
	padding-bottom: 17px;
	position: relative;
}

#u142.MuseMenuActive,#u135:hover
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u135:active
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u135.MuseMenuActive
{
	width: 147px;
	min-height: 0px;
	margin: 0px;
}

#u137-4
{
	width: 147px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u142.MuseMenuActive #u143-4,#u135:hover #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u135:active #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u135.MuseMenuActive #u137-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 147px;
	margin: 0px -10000px 0px 0px;
}

#u214
{
	width: 148px;
	min-height: 34px;
	position: relative;
	margin-right: -10000px;
	left: 298px;
}

#u215
{
	width: 148px;
	padding-bottom: 17px;
	position: relative;
}

#u215:hover
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u215:active
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u215.MuseMenuActive
{
	width: 148px;
	min-height: 0px;
	margin: 0px;
}

#u217-4
{
	width: 148px;
	min-height: 17px;
	position: relative;
	margin-right: -10000px;
	top: 8px;
}

#u215:hover #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u215:active #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u215.MuseMenuActive #u217-4
{
	padding-top: 0px;
	padding-bottom: 0px;
	min-height: 17px;
	width: 148px;
	margin: 0px -10000px 0px 0px;
}

#u118-4
{
	z-index: 27;
	width: 290px;
	min-height: 40px;
	background-color: transparent;
	font-size: 60px;
	text-align: center;
	line-height: 72px;
	margin-left: 454px;
	margin-top: 82px;
	position: relative;
}

#pu94
{
	width: 0.01px;
	margin-top: 34px;
}

#u94
{
	z-index: 21;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
}

#u104
{
	z-index: 23;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 387px;
}

#u111
{
	z-index: 25;
	width: 358px;
	background-color: transparent;
	position: relative;
	margin-right: -10000px;
	left: 775px;
}

#muse_css_mq,.html
{
	background-color: #FFFFFF;
}

body
{
	position: relative;
	min-width: 1170px;
}

